p{
    
    text-align: center;
    padding: 5px 200px 5px 200px;
    
   
}

h1{
    padding: 1em;
    
    
}
html{
    font-family: monospace;
    font-size:  150%;
    font-weight: bold;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(red,orange);
}
