p{
    margin: auto;
    bottom: 10px;
    text-align: center;
}
/* h1{
    text-align: center;
    margin: auto;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
} */
#header{
    text-align: center;
}